.todo-item-container {
  background-image: linear-gradient(to right, #fa7ddf, #7da9df);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.todo-item-container:hover {
  transform: scale(1.02);
}

.todo-top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.checkbox-input {
  transform: scale(1.2);
  cursor: pointer;
}

.checkbox-label {
  font-size: 16px;
  font-family: "BreeSerif";
  color: #333;
}

.checkbox-label.checked {
  text-decoration: line-through;
  color: #19034b;
}

.edit-input {
  padding: 6px;
  font-size: 16px;
  border: 1px solid #4caf50;
  border-radius: 5px;
  outline: none;
}

.todo-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.edit-icon {
  font-size: 20px;
  color: #1a1e18;
  cursor: pointer;
  transition: color 0.3s;
}

.edit-icon:hover {
  color: #011402;
}

.delete-icon {
  font-size: 20px;
  color: #e53935;
  cursor: pointer;
  transition: color 0.3s;
}

.delete-icon:hover {
  color: #d32f2f;
}

.todo-bottom-row {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  font-size: 12px;
  color: #555;
}

.todo-date.updated {
  color: #888;
  font-style: italic;
}
