/* Main container for the Todo App */
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.background-container {
  /* background-color: rgb(6, 1, 33); */
  background-image: linear-gradient(to right, #0a0103, #7da9df);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.todo-app-container {
  width: 40%;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgb(6, 1, 33);
  margin-top: 20px;
  margin-bottom: 30px;
}

h1 {
  color: white;
  font-family: "Bree Serif";
  text-align: center;
}

p {
  color: white;
  font-family: "Bree Serif";
  font-size: 30px;
}
.no-todos-message {
  text-align: center;
  color: #888;
  margin-top: 20px;
  font-size: 18px;
}
/* Todo input and button */
.todo-input {
  width: 75%;
  padding: 10px;
  margin-right: 10px;
  border: 2px solid #4caf50;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

.add-todo-button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-todo-button:hover {
  background-color: #45a049;
}

.todo-items-container {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.save-head-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.refresh-button {
  width: 40px;
  border-radius: 5px;
  background-color: rgb(7, 93, 101);
  color: #ffffff;
  border: 0px solid;
  font-size: 12px;
  align-content: center;
  padding: 7px;
}

.spinner {
  animation: spin 1s linear infinite;
  color: #4caf50; /* Adjust color as needed */
  text-align: center;
}

.error-message {
  color: red;
  font-size: 16px;
  margin-top: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.filter-dropdown-wrapper {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}
.loading-container {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-filter-select {
  padding: 8px;
  font-size: 13px;
  border-radius: 6px;
  background: rgb(216, 112, 225);
  border: 1px solid #ccc;
}

/* Responsive Design */
@media (max-width: 768px) {
  .todo-app-container {
    width: 60%;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 20px;
  }

  h1 {
    font-size: 24px;
  }

  p {
    font-size: 20px;
  }

  .todo-input {
    width: 70%;
    padding: 8px;
  }

  .add-todo-button {
    padding: 8px 15px;
    font-size: 14px;
    margin-top: 3px;
  }
}
.search-filter-container {
  display: flex;
  flex-direction: row;
}

@media (max-width: 480px) {
  .todo-app-container {
    width: 80%;
    padding: 10px;
  }

  h1 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
  }

  .todo-input {
    width: 65%;
    margin-right: 5px;
    padding: 6px;
    font-size: 14px;
  }

  .add-todo-button {
    padding: 6px 10px;
    font-size: 12px;
    margin-top: 3px;
  }
  .filter-dropdown-wrapper {
    justify-content: center;
    margin-top: 3px;
  }

  .refresh-button {
    width: 30px;
    font-size: 10px;
    padding: 5px;
  }
  .todo-filter-select {
    padding: 5px;
    font-size: 8px;
    border-radius: 6px;
    background: rgb(180, 234, 183);
    border: 1px solid #ccc;
  }
}
.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logout-button {
  background-color: #ff4d4f;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #e04143;
}
